.DateHeader {
	background: #052d49;
	color: #fff;
	font-family: 'Archivo Narrow', sans-serif;
	padding: 10px 10px;
	text-transform: uppercase;
}
.DateHeaderText {
	margin: 0px;
	padding: 0px;
	font-weight: 600;
}